$black: #000000;
$white: #ffffff;
$gray: #f4f4f4;
$dark: #3c3c3c;

$red: #ff0000;
$red-dark: #ad160c;
$red-light: #dd3328;

$blue: #0000ff;
$yellow: #f7d735;

$fs-32: 32px;
$fs-28: 28px;
$fs-24: 24px;
$fs-23: 23px;
$fs-21: 21px;
$fs-20: 20px;
$fs-18: 18px;
$fs-16: 16px;
$fs-14: 14px;
