@import "reset.scss";

$f_bold: "Aeonik-Bold";
$f_medium: "Aeonik-Medium";
$f_regular: "Aeonik-Regular";

h2 {
    font-family: $f_medium;
    font-size: 38px;
    font-weight: 500;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: -0.6px;
    padding: 0;
}

h3 {
    font-family: $f_bold;
    font-size: 32px;
    font-weight: bold;
    line-height: 1.13;
    letter-spacing: -0.51px;
}

h1 {
    color: red;
}

h4 {
    font-family: $f_bold;
    font-size: 26px;
    font-weight: bold;
    line-height: 1.42;
    letter-spacing: -0.4px;
    color: #ff872b;
}

@import "custom.scss";
@import "templates/default-page.scss";
@import "template-parts/default-component.scss";
